<body>
  <h1>List Your Puppy Here</h1>
  <form method="post" action="/">
    <p>Name:<input type="text" name="name"></p>
    <p>Breed:<input type="text" name="breed"></p>
    <p>Age:<input type="number" name="age"></p>
    <input type=submit id="submit">
  </form>
</body>
