<!DOCTYPE html>
<html>
  <head>
    <title>Listed Puppy</title>
  </head>
  <body>
    <h1>Listed Puppy</h1>
    <h2>Puppy Name: <%= @puppy.name %></h2>
    <h3>Puppy Breed: <%= @puppy.breed %></h3>
    <h3>Puppy Age: <%= @puppy.age %></h3>
  </body>
</html>
