<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to the Puppy Adoption Site!</title>
  </head>
  <body>
    <h1>Welcome to the Puppy Adoption Site!</h1>
    <a href="/new">Click Here To List A Puppy</a>
  </body>
</html>
